/.venv
llama-cpp-python
/.vscode
app/src/media/sprite_manager
app/tests
backend/infrastructure/models/*
backend/infrastructure/data
!/backend/infrastructure/models/vosk-model
/logs
build.py
/dist
main.build
main.dist
*__pycache__