pyside6==6.10.0
pillow==12.0.0
sounddevice==0.5.3
soundfile==0.13.1
sentence_transformers==5.1.2
faiss-cpu==1.12.0
vosk==0.3.45
librosa==0.11.0
llama-cpp-python==0.3.16 --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu125
pyAudio==0.2.14
pywin32==311
websockets==14.0
huggingface_hub>=0.20.0