setuptools==81.0.0
wheel==0.47.0
pyside6==6.10.0
pillow==12.0.0
sounddevice==0.5.3
soundfile==0.13.1
sentence_transformers==5.1.2
faiss-cpu==1.12.0
vosk==0.3.45
librosa==0.11.0
pyAudio==0.2.14
pywin32==311
websockets==14.0
opencv-python==4.12.0.88
bs4>=0.0.2
psutil==7.2.2
fastapi>=0.120.4
uvicorn>=0.38.0
websocket==0.2.1
huggingface_hub>=0.20.0
dependency-injector==4.48.3
llama-cpp-python==0.3.16 --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu125
